body {
    margin: 2%;
}

#render-block {
    overflow-y: scroll;
    max-height: 50vh;
}

#form-content {
    margin: 1%;
}

.rightalign {
    text-align: right;
}

mark {
    color: white;
    background-color: black;
    border-radius: 5px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: left;
}